/* Global Styles */
body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% viewport height */
  }
  
header {
  background-color: #fec460;
  color: #59441f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 40px;
  }

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  }

nav li {
  margin-left: 20px;
  }

nav a {
  color: #59441f;
  text-decoration: none;
  }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  flex: 1; 
  }

section.product {
  position: relative;
  background-color: #fff7f2; 
  border: 2px solid #fec460; 
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 443px;
  border-radius: 10px; 
  transition: box-shadow 0.3s; 
  }

section.product:hover {
  box-shadow: 0px 0px 20px 0px #fec460;
  }

.product-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fec460;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  }

section.product img {
  max-width: 100%;
  }

section.product p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
  }

  section.product button {
    background-color: #fec460;
    border: 2px solid #fec460;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #59441f;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s, opacity 0.3s, border 0.3s, box-shadow 0.3s;
    opacity: 0.7;
  }
  
  section.product button:hover {
    background-color: #fec460;
    color: #59441f;
    opacity: 1;
    border: 2px solid #fec460;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    background-color: #fff;
    border: 2px solid #fec460;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid #59441f;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 100%;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #fec460;
    color: #59441f;
    opacity: 1;
    border: 2px solid #fec460;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  button[type="submit"],
  a.register-button {
    background-color: #fec460;
    border: 2px solid #fec460;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #59441f;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s, opacity 0.3s, border 0.3s, box-shadow 0.3s;
    opacity: 0.5;
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  button[type="submit"]:hover,
  a.register-button:hover {
    background-color: #fec460;
    color: #59441f;
    opacity: 1;
    border: 2px solid #fec460;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fec460;
  color: #59441f;
  padding: 20px;
  height: 50px;
}
  
.footer-text {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
