html, body {
    margin: 0;
    padding: 0;
    background-color: #0b505c;
    background-image: linear-gradient(to bottom right, #7fc3cf, #0b505c);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(38, 32, 58, 0.8);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100px;
    z-index: 1;
}

.nav-heading {
    display: flex;
}

.nav-heading h1{
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    color: #f9f9f9;   
}

.nav-heading img {
    margin-left: 3rem;
    margin-right: 5px;
    width: 60px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-left: auto;
}

.login-links {
    margin-left: auto;
    margin-right: 3rem;
}

.login-links li {
    list-style: none;
}

.login-links li a {
    display: block;
    font-size: 1.4rem;
    color: #f9f9f9;
    margin-left: 20px;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT */
main {
    margin: 0;
    padding: 0;
}

section.heading {
    margin: 150px 20%;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px #5d97a1;
    border-top: 5px solid #a0e1ec;
    border-bottom: 5px solid #a0e1ec;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.product-container {
    display: flex;
    margin-bottom: 100px;
}

.container {
    position: relative;
    background-color: #202a40; 
    box-shadow: 0 0 20px 10px #5d97a1;
    outline-offset: -5px;
    margin: 0px 50px;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 450px;
    border-radius: 10px; 
    border: solid 3px #a0e1ec;
}

.container img {
    margin: 10px auto;
    width: 200px;
    border-radius: 50%;
    object-fit: contain;
    border: 10px solid #5d97a1;
}

.container h1,
.container p {
    color: #f9f9f9;
}

.container button {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #5d97a1;
    color: #f9f9f9;
    border: none;
}
  
.container button:hover {
    background-color: #f9f9f9;
    color: #5d97a1;
    border: 2px solid #f9f9f9;
    transition: 0.5s all;
}  

.product-desc {
    background-color: #202a40;
    box-shadow: 0 0 20px 10px #5d97a1;
    color: #f9f9f9;
    padding: 20px;
    width: 600px;
    border: solid 3px #a0e1ec;
    border-radius: 10px;
    margin-left: 30px;
}

.product-desc h2 {
    color: #a0e1ec;
}  

/* FOOTER */
footer {
    position: relative;
    padding: 15px;
    margin-bottom: 0;
    justify-content: center;
    display: flex;
    background-color: #202a40;
    height: fit-content; 
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.divider {
    color: #f9f9f9;
}

#footer-logo {
    margin-left: 1rem;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 80px;
}

footer p {
    font-weight: bold;
    display: block;
    color: #f9f9f9;
    margin-bottom: 20px;
  }
  
footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer a {
    font-size: 1.1rem;
    color: #f9f9f9;
    padding: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {

    .nav-heading img {
        margin-left: 10px;
    }

    .login-links {
        margin-right: 20px;
    }

    section.heading {
      margin-top: 300px; 
    }
  
    .product-container {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
  
    .container {
      margin: 0;
    }
  
    .container img {
      width: 150px;
    }
  
    .product-desc {
        margin: 0;
        margin-top: 50px;
        width: 400px;
        text-align: center;
    }
  
  }
  
  @media screen and (max-width: 500px) {

    .nav-heading img {
        width: 30px;
        height: 20px;
    }

    .nav-heading h1 {
        font-size: 1rem;
    }

    .login-links li a {
        font-size: 0.7rem;
    }

    section.heading {
        margin-top: 200px; 
      }

    .product-desc {
        width: 280px;
    }

  }